@-o-keyframes glow
{
    from {text-shadow: 0px 0px 0px white;}
    to {text-shadow: 0px 0px 10px white;}
}
@-webkit-keyframes glow
{
    from {text-shadow: 0px 0px 0px white;}
    to {text-shadow: 0px 0px 10px white;}
}
@-moz-keyframes glow
{
    from {text-shadow: 0px 0px 0px white;}
    to {text-shadow: 0px 0px 10px white;}
}
@keyframes glow
{
    from {text-shadow: 0px 0px 0px white;}
    to {text-shadow: 0px 0px 10px white;}
}

@-o-keyframes reverseglow
{
    from {text-shadow: 0px 0px 10px white;}
    to {text-shadow: 0px 0px 0px white;}
}
@-webkit-keyframes reverseglow
{
    from {text-shadow: 0px 0px 10px white;}
    to {text-shadow: 0px 0px 0px white;}
}
@-moz-keyframes reverseglow
{
    from {text-shadow: 0px 0px 10px white;}
    to {text-shadow: 0px 0px 0px white;}
}
@keyframes reverseglow
{
    from {text-shadow: 0px 0px 10px white;}
    to {text-shadow: 0px 0px 0px white;}
}

@-o-keyframes blink
{
    0% {color: rgba(0, 0, 0, 0);}
    50% {color: rgba(0, 0, 0, 1);}
    100% {color: rgba(0, 0, 0, 0);}
}
@-webkit-keyframes blink
{
    0% {color: rgba(0, 0, 0, 0);}
    50% {color: rgba(0, 0, 0, 1);}
    100% {color: rgba(0, 0, 0, 0);}
}
@-moz-keyframes blink
{
    0% {color: rgba(0, 0, 0, 0);}
    50% {color: rgba(0, 0, 0, 1);}
    100% {color: rgba(0, 0, 0, 0);}
}
@keyframes blink
{
    0% {color: rgba(0, 0, 0, 0);}
    50% {color: rgba(0, 0, 0, 1);}
    100% {color: rgba(0, 0, 0, 0);}
}