@import 'animation.css';
@font-face {
    font-family: 'Orkney';
    src: url('fonts/orkney-light-webfont.eot');
    src: url('fonts/orkney-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orkney-light-webfont.woff2') format('woff2'),
         url('fonts/orkney-light-webfont.woff') format('woff'),
         url('fonts/orkney-light-webfont.ttf') format('truetype'),
         url('fonts/orkney-light-webfont.svg#orkneylight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Orkney';
    src: url('fonts/orkney-regular-webfont.eot');
    src: url('fonts/orkney-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orkney-regular-webfont.woff2') format('woff2'),
         url('fonts/orkney-regular-webfont.woff') format('woff'),
         url('fonts/orkney-regular-webfont.ttf') format('truetype'),
         url('fonts/orkney-regular-webfont.svg#orkneylight') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Orkney';
    src: url('fonts/orkney-bold-webfont.eot');
    src: url('fonts/orkney-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orkney-bold-webfont.woff2') format('woff2'),
         url('fonts/orkney-bold-webfont.woff') format('woff'),
         url('fonts/orkney-bold-webfont.ttf') format('truetype'),
         url('fonts/orkney-bold-webfont.svg#orkneylight') format('svg');
    font-weight: 700;
    font-style: normal;
}

body
{
    margin: 0;
    font-family: 'Orkney', "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "noto sans", "思源黑体", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: #FCFAF2;
}
a
{
    text-decoration: none;
}
p
{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-weight: 400;
}
h1
{
    margin: auto;
    text-align: center;
    font-size: 32pt;
    font-weight: 700;
}

#firstpage
{
    top: 0;
    height: 100vh;
    position: relative;
    background-image: url('../img/meteor.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#gradientoverlay
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0)) rgba(0, 0, 0, 0.5));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0)) rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)) rgba(0, 0, 0, 0.5));
}

#firstcontents
{
    position:relative;
    margin: auto;
    top: 30%;
    overflow: visible;
    text-align: center;
    font-weight: 300;
}

#card
{
    position: relative;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-height: 140px;
    overflow: auto;
}

#avatar
{
    float: left;
    margin: 10px;
    height: 120px;
    border-radius: 60px;
}

#headline
{
    bottom: 0;
    float: left;
    margin: 10px;
    padding-left: 15px;
    min-height: 120px;
    overflow: visible;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: white;
    text-align: left;
    color: white;
}

#name
{
    margin-top: 5%;
    font-size: 24pt;
    color: white;
    font-weight: 300;
}

#badges
{
    text-align: left;
}

.badge
{
    display: inline-block;
    color: white;
    width: 20px;
    height: 20px;
    margin: 15px 5px;
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    background: transparent;
    font-size: 16px;
    text-align: center;
    -o-animation: reverseglow 1s;
    -moz-animation: reverseglow 1s;
    -webkit-animation: reverseglow 1s;
    animation: reverseglow 1s;
}
.badge:hover
{
    -o-animation: glow 1s;
    -moz-animation: glow 1s;
    -webkit-animation: glow 1s;
    animation: glow 1s;
}

#bloglink
{
    display: inline-block;
    color: white;
    width: 240px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    background: transparent;
    text-align: center;
    -o-animation: reverseglow 1s;
    -moz-animation: reverseglow 1s;
    -webkit-animation: reverseglow 1s;
    animation: reverseglow 1s;
}
#bloglink:hover
{
    -o-animation: glow 1s;
    -moz-animation: glow 1s;
    -webkit-animation: glow 1s;
    animation: glow 1s;
}

#about
{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#aboutbody
{
    padding: 40px;
    font-size: 14pt;
    line-height: 30pt;
    text-align: left;
}

#newsection
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/forest.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#yagradientoverlay
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2)) rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2)) rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2)) rgba(0, 0, 0, 0));
}

#uc
{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
    line-height: 100vh;
    text-shadow: 0 0 5vh black;
}
#uc:after
{
    content: '|';
    font-weight: 300;
    -o-animation: blink 500ms infinite;
    -moz-animation: blink 500ms infinite;
    -webkit-animation: blink 500ms infinite;
    animation: blink 500ms infinite;
}